.styled_table {
    border-collapse: collapse;    
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.styled_table thead tr {
    background-color: #F20505;
    color: #ffffff;
    text-align: left;
}

.styled_table th,
.styled_table td {
    padding: 12px 15px;
}

.styled_table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled_table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled_table tbody tr:last-of-type {
    border-bottom: 2px solid #F20505;
}

.styled_table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.div_table{
    width: 100%;
}


@media (max-width: 600px) {
    .div_table {
        overflow-y: scroll;
    }
}